In [2]:
import pandas as pd
import numpy as np

## Group By(.sum(),mean(),max(),min(),count() [Imp topic in data analysis]

In [3]:
data = {
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance'],
    'Salary': [60000, 50000, 65000, 70000, 52000, 73000]
}
df = pd.DataFrame(data)
print(df)

  Department  Salary
0         IT   60000
1         HR   50000
2         IT   65000
3    Finance   70000
4         HR   52000
5    Finance   73000

In [4]:
df.to_csv(r'hi.csv',index=False)

In [5]:
df1=pd.read_csv(r'hi.csv')
df1

  Department  Salary
0         IT   60000
1         HR   50000
2         IT   65000
3    Finance   70000
4         HR   52000
5    Finance   73000

In [6]:
group = df1.groupby('Department')
group

In [7]:
group['Salary'].count()

Department
Finance    2
HR         2
IT         2
Name: Salary, dtype: int64

In [8]:
group['Salary'].mean()

Department
Finance    71500.0
HR         51000.0
IT         62500.0
Name: Salary, dtype: float64

In [9]:
df1

  Department  Salary
0         IT   60000
1         HR   50000
2         IT   65000
3    Finance   70000
4         HR   52000
5    Finance   73000

In [10]:
group['Salary'].max()

Department
Finance    73000
HR         52000
IT         65000
Name: Salary, dtype: int64

### Find the number of employees on each department.

In [11]:
group['Salary'].count()

Department
Finance    2
HR         2
IT         2
Name: Salary, dtype: int64

### Now from movie dataset

In [12]:
df=pd.read_csv('movies.csv')
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,Chinatown,1974,130,Drama,8.1,Roman Polanski,Jack Nicholson,294230,29000000.0,92.0
1,The Girl with the Dragon Tattoo,2011,158,Crime,7.8,David Fincher,Daniel Craig,423010,102515793.0,71.0
2,Nueve reinas,2000,114,Crime,7.9,Fabián Bielinsky,Ricardo Darín,49721,1221261.0,80.0
3,Close Encounters of the Third Kind,1977,138,Drama,7.6,Steven Spielberg,Richard Dreyfuss,184966,132088635.0,90.0
4,Joker,2019,122,Crime,8.5,Todd Phillips,Joaquin Phoenix,939252,335451311.0,59.0
...,...,...,...,...,...,...,...,...,...,...
295,Kumonosu-jô,1957,110,Drama,8.1,Akira Kurosawa,Toshirô Mifune,46678,612604239.0,NaN
296,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
297,The Royal Tenenbaums,2001,110,Comedy,7.6,Wes Anderson,Gene Hackman,266842,52364010.0,76.0
298,Midnight Cowboy,1969,113,Drama,7.8,John Schlesinger,Dustin Hoffman,101124,44785053.0,79.0
299,Kai po che!,2013,130,Drama,7.7,Abhishek Kapoor,Amit Sadh,32628,1122527.0,40.0

In [13]:
df['Genre'].unique()

array(['Drama', 'Crime', 'Action', 'Biography', 'Comedy', 'Adventure',
       'Film-Noir', 'Animation', 'Horror', 'Mystery', 'Fantasy',
       'Western'], dtype=object)

In [14]:
df[df['Genre']=='Drama'].shape[0]

86

In [15]:
df[df['Genre']=='Crime'].shape[0] #this is filtering data.like this everytime filtering is basically lengthy.so we can use groupby now here

37

In [16]:
df.groupby('Genre')['Released_Year'].count() #count how many rows it has.

Genre
Action       50
Adventure    13
Animation    29
Biography    29
Comedy       50
Crime        37
Drama        86
Fantasy       1
Film-Noir     1
Horror        2
Mystery       1
Western       1
Name: Released_Year, dtype: int64

### Find the number of movies released on specific year.

In [17]:
df.groupby('Released_Year')['Runtime'].count()

Released_Year
1920     1
1928     2
1931     1
1932     1
1934     1
        ..
2016     8
2017     7
2018     8
2019    10
2020     2
Name: Runtime, Length: 81, dtype: int64

### Each genre(runtime)

In [18]:
df.groupby('Genre')['Runtime'].mean().sort_values()

Genre
Fantasy       76.000000
Animation     98.448276
Mystery      100.000000
Horror       101.500000
Film-Noir    104.000000
Comedy       112.180000
Drama        123.941860
Crime        130.054054
Adventure    136.692308
Action       136.860000
Biography    137.000000
Western      165.000000
Name: Runtime, dtype: float64

### Average IMDB rating.

In [19]:
df.groupby('Genre')['IMDB_Rating'].mean()

Genre
Action       7.964000
Adventure    7.907692
Animation    7.982759
Biography    7.951724
Comedy       7.842000
Crime        8.137838
Drama        7.965116
Fantasy      8.100000
Film-Noir    8.100000
Horror       7.700000
Mystery      7.600000
Western      8.500000
Name: IMDB_Rating, dtype: float64

In [20]:
df.groupby('Genre')['IMDB_Rating'].max()

Genre
Action       9.0
Adventure    8.3
Animation    8.6
Biography    8.6
Comedy       8.3
Crime        9.2
Drama        8.8
Fantasy      8.1
Film-Noir    8.1
Horror       7.8
Mystery      7.6
Western      8.5
Name: IMDB_Rating, dtype: float64

### aggregate the results with multiple function

In [21]:
df.groupby('Genre').agg({'IMDB_Rating':'mean','Runtime':'max'})

           IMDB_Rating  Runtime
Genre
Action        7.964000      321
Adventure     7.907692      212
Animation     7.982759      137
Biography     7.951724      186
Comedy        7.842000      188
Crime         8.137838      189
Drama         7.965116      238
Fantasy       8.100000       76
Film-Noir     8.100000      104
Horror        7.700000      103
Mystery       7.600000      100
Western       8.500000      165

In [22]:
dfs=df.groupby('Genre').agg({'IMDB_Rating':['mean','max'],'Runtime':['mean','max','min']})
dfs

          IMDB_Rating          Runtime
                 mean  max        mean  max  min
Genre
Action       7.964000  9.0  136.860000  321   93
Adventure    7.907692  8.3  136.692308  212   96
Animation    7.982759  8.6   98.448276  137   71
Biography    7.951724  8.6  137.000000  186  107
Comedy       7.842000  8.3  112.180000  188   72
Crime        8.137838  9.2  130.054054  189   81
Drama        7.965116  8.8  123.941860  238   80
Fantasy      8.100000  8.1   76.000000   76   76
Film-Noir    8.100000  8.1  104.000000  104  104
Horror       7.700000  7.8  101.500000  103  100
Mystery      7.600000  7.6  100.000000  100  100
Western      8.500000  8.5  165.000000  165  165

In [23]:
dfs.to_csv('newdata.csv')