## Join and Concatenate

##### In Pandas, join and concatenate are two important operations used to combine multiple DataFrames into one.
##### commonly used in data preprocessing and data analysis, especially when working with data from different sources.

In [9]:
# join() is used to combine two DataFrames based on the index or a key column (like SQL joins).

# You can perform:

# inner join → keeps only matching rows.(Intersection)

# outer join → keeps all rows, fills missing with NaN.(All from left)

# left join → keeps all rows from the left DataFrame.(All from Right)

# right join → keeps all rows from the right DataFrame.(Union)
#  Why use join()?
# To combine two datasets that share a common key (like "user_id", "student_id", etc.)
# 2. concat() (concatenate) in Pandas
# concat() is used to combine DataFrames vertically (stack rows) or horizontally (stack columns).

# Syntax: pd.concat([df1, df2], axis=0) for rows, axis=1 for columns.

# Why use concat()?
# To append data (like daily logs or monthly sales) or merge columns with the same or related index.

In [10]:
import pandas as pd

In [11]:
df_employees = pd.DataFrame({
  'emp-id' : [1,2,3,4],
  'name': ['Alice','Bob','Charlie','David'],
  'dept_id':['101','102','103','104']  
})

In [12]:
df_employees

   emp-id     name dept_id
0       1    Alice     101
1       2      Bob     102
2       3  Charlie     103
3       4    David     104

In [13]:
##Create Department Dataframe

In [14]:
df_departments = pd.DataFrame({
    'dept_id' : [101,102,105],
    'dept_name' : ['HR','Finance','IT']
})

In [15]:
df_departments

   dept_id dept_name
0      101        HR
1      102   Finance
2      105        IT

In [13]:
## Inner Join
df_employees['dept_id'] = df_employees['dept_id'].astype(int)
df_departments['dept_id'] = df_departments['dept_id'].astype(int)

pd.merge(df_employees, df_departments, on='dept_id', how='inner')

   emp-id   name  dept_id dept_name
0       1  Alice      101        HR
1       2    Bob      102   Finance

In [ ]:
## Right Join

In [15]:
df_employees['dept_id'] = df_employees['dept_id'].astype(int)
df_departments['dept_id'] = df_departments['dept_id'].astype(int)

pd.merge(df_employees, df_departments, on='dept_id', how='Right')

ValueError: do not recognize join method Right