In [3]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

## Group By(.sum(),mean(),max(),min(),count() [Imp topic in data analysis]

In [ ]:
data = {
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'Finance'],
    'Salary': [60000, 50000, 65000, 70000, 52000, 73000]
}
df = pd.DataFrame(data)
print(df)

In [ ]:
df.to_csv(r'hi.csv',index=False)

In [ ]:
df1=pd.read_csv(r'hi.csv')
df1

In [ ]:
group = df1.groupby('Department')
group

In [ ]:
group['Salary'].count()

In [ ]:
group['Salary'].mean()

In [ ]:
df1

In [ ]:
group['Salary'].max()

### Find the number of employees on each department.

In [ ]:
group['Salary'].count()

### Now from movie dataset

In [ ]:
df=pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\datascience class\Datascience (saroj sir)\DataScience\movies.csv')
df

In [ ]:
df['Genre'].unique()

In [ ]:
df[df['Genre']=='Drama'].shape[0]

In [ ]:
df[df['Genre']=='Crime'].shape[0] #this is filtering data.like this everytime filtering is basically lengthy.so we can use groupby now here

In [ ]:
df.groupby('Genre')['Released_Year'].count() #count how many rows it has.

### Find the number of movies released on specific year.

In [ ]:
df.groupby('Released_Year')['Runtime'].count()

### Each genre(runtime)

In [ ]:
df.groupby('Genre')['Runtime'].mean().sort_values()

### Average IMDB rating.

In [ ]:
df.groupby('Genre')['IMDB_Rating'].mean()

In [ ]:
df.groupby('Genre')['IMDB_Rating'].max()

### aggregate the results with multiple function

In [ ]:
df.groupby('Genre').agg({'IMDB_Rating':'mean','Runtime':'max'})

In [ ]:
dfs=df.groupby('Genre').agg({'IMDB_Rating':['mean','max'],'Runtime':['mean','max','min']})
dfs

In [ ]:
dfs.to_csv('newdata.csv')